body {
	font-family: 'Lato', sans-serif;
}


#wrapper {
	width: 750px;
	margin: 0 auto;
}
.player {
	width: 100%;
}

	/* Описание проигрываемой песни, картинка, название группы и мелодии, средства управления */
	.player__header {
		height: 200px;
	}
		/* Картинка к аудио */
		.player__img {
			width: 200px;
			height: 200px;
			float: left;
		}
			.player__img img {
				width: 100%;
				max-height: 100%;
			}
		/* Название группы и аудио */
		.player__title {
			font-size: 18px;
			text-align: center;
			padding-top: 20px;
		}
			.player__title h2 span {
				font-weight: 100;
			}
		/* Средства управления аудио плеером */
		.player__controls {
			position: relative;
		}
			.player__controls .player__list-close {
				cursor: pointer;
				position: absolute;
				bottom: -90px;
				left: 215px;
				color: #3EC3D5;
				font-size: 24px;
				width: 26px;
				height: 26px;
				overflow: hidden;
			}
			.flipper {
				transition: 0.6s;
				transform-style: preserve-3d;

				position: relative;
			}
				.player__controls .player__list-close .back {
					transform: rotateX(180deg);
				}

				.player__controls .player__list-close .flipper {
					transform-origin: 100% 26px; /* половина высоты */
				}

				.player__controls .player__list-close:hover .flipper {
					transform: rotateX(-180deg);
				}

	/* Список аудио записей */
	.player__list {

	}
		.player__list ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
			.player__list ul li {
				background: #3EC3D5;
				color: #FFFFFF;
				padding: 10px 30px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
				position: relative;
				cursor: pointer;
			}
				.player__list ul li:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 15px;
					font-weight: bold;
					width: 4px;
					height: 4px;
					background: #FFF;
					border-radius: 50%;
				}
				.player__list ul li:hover,
				.player__list ul li.active {
					background: #42CFE2 !important;
				}

